[project]
	description = forCpp
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yurashka
[access "refs/for/refs/*"]
	read = group user/yurashka
	push = group user/yurashka
	label-Code-Review = -2..+2 group user/yurashka
	label-Verified = -1..+1 group user/yurashka
	rebase = group user/yurashka
	removeReviewer = group user/yurashka
	submit = group user/yurashka
[access "refs/heads/*"]
	read = group user/yurashka
	create = group user/yurashka
	push = +force group user/yurashka
	pushMerge = group user/yurashka
[access "refs/tags/*"]
	push = +force group user/yurashka
	pushTag = group user/yurashka
	pushSignedTag = group user/yurashka
